<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>User by id</title>
</head>
<body>
<table>
    <tr>
        <td th:text="${users.getId()}">VALUE</td>
        <td th:text="${users.getName()}">VALUE</td>
    </tr>
</table>

<a th:href="@{/people/{id}/edit(id=${users.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${users.getId()})}">
    <input type="hidden" name="id" th:value="${users.getId()}"/>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>